---
layout: default
title: Brady Ouren (Tippenein)
---

<div id="home">
  <h1 class="section-block blog">Posts</h1>
  <ul class="list-unstyled posts">
    {% for post in site.posts %}
      <li class="row">
        <a class="col-sm-9" href="{{ post.url }}">{{ post.title }}</a>
        <div class="col-sm-3">{{ post.date | date_to_string }}</div>
      </li>
    {% endfor %}
  </ul>

  <h1 class="section-block projects">Projects</h1>
  <ul class="list-unstyled">
    {% for project in site.projects %}
      <li><a href="{{ project.url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>

</div>
