<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Brady Ouren (Tippenein)</title>

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://tippenein.github.io/stylesheets/styles.css">
    <link rel="stylesheet" href="http://tippenein.github.io/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>Brady Ouren</h2>
        <img src="/images/me.jpeg" alt="me" />
        <p> PLT, functional programming and software design</p>
        <p class="view"><a href="https://github.com/tippenein">View My GitHub Profile</a></p>
      </header>
      <section>
        <div class="title">
          <a href="/">Brady Ouren (Tippenein)</a>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </section>
      <footer>
        <div class="contact">
          <p>
            <a href="mailto:brady.ouren@gmail.com">email</a><br />
            <a href="http://twitter.com/tippenein/">twitter</a><br />
			<a href="/resume">resume</a>
          </p>
        </div>
        <div class="rss">
          <a href="http://feeds.feedburner.com/tippenein">
            <img src="/images/rss.png" height="24" width="24" alt="Subscribe to RSS Feed" />
          </a>
        </div>
      </footer>
    </div>
  <script src="javascripts/scale.fix.js"></script>
  </body>
</html>

